<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
  <div class="container">
    <a class="navbar-brand  text-white " href="/home" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
      Tryl
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <ul class="navbar-nav navbar-nav-hover ms-auto">
        <li class="nav-item my-auto ms-3 ms-lg-0">
          <a href="/login" class="btn btn-sm  bg-white  mb-0 me-1 mt-2 mt-md-0">Sign In</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
<!-- -------- START HEADER 7 w/ text and video ------- -->
<header class="bg-gradient-dark">
  <div class="page-header min-vh-75" style="background-image: url('../img/bg9.jpg');">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mx-auto my-auto">
          <h1 class="text-white">Stop Money from Running Away</h1>
          <p class="lead mb-4 text-white opacity-8">Introducing Tryl - the ultimate tool for managing your free trial subscriptions!</p>
          <button type="submit" class="btn bg-white text-dark"><a href="/register">Create Account</a></button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- -------- END HEADER 7 w/ text and video ------- -->
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
  <!-- Section with four info areas left & one card right with image and waves -->
  <section class="py-7">
      <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
<div class="container">
  <div class="row">
    <div class="col-lg-6 my-auto">
      <h3 class="mt-5 mt-lg-0">Don't forget the trial you signed up for</h3>
      <p class="pe-5">With Tryl, you can easily keep track of all the trials you've signed up for and receive reminders to cancel them before they expire. Simply enter the details of your trial and Tryl will handle the rest. No more worrying about being charged for a subscription you forgot to cancel - Tryl has you covered. Sign up for Tryl today and take control of your subscriptions!</p>
      <a href="javascript:;" class="text-primary icon-move-right">More about us
        <i class="fas fa-arrow-right text-sm ms-1"></i>
      </a>
    </div>
    <div class="col-lg-6 mt-lg-0 mt-5 ps-lg-0 ps-0">
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fa-solid fa-bell"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0"><b>Reminders</b><br />
          Tryl sends notifications to users before a trial period ends, giving ample time to cancel if a users does not want to continue with the subscription.</p>
        </div>
      </div>

      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-handshake opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0"><b>Easy Data Entry</b><br />
            Users can quickly an easiyl enter the details of a trial, including company name, end date, and trial duration.</p>
        </div>
      </div>
      <div class="p-3 info-horizontal">
        <div class="icon icon-shape  bg-gradient-primary shadow-primary text-center">
          <i class="fas fa-hourglass opacity-10"></i>
        </div>
        <div class="description ps-3">
          <p class="mb-0"><b>Trial Tracker</b><br />
            Tryl provides users with a clear and concise overview of all their active and past trials, making it easy to track and manage their subscriptions.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->

  <!--
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="row justify-content-start">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">public</i>
                <h5>Reminders</h5>
                <p>Tryl sends notifications to users before a trial period ends, giving ample time to cancel if a users does not want to continue with the subscription.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">payments</i>
                <h5>Easy Data Entry</h5>
                <p>Users can quickly an easiyl enter the details of a trial, including company name, end date, and trial duration. </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-start mt-4">
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">apps</i>
                <h5>Customizable Notifications</h5>
                <p>Users can choose how they want to receive reminders via email and/or text message.</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info">
                <i class="material-icons text-3xl text-gradient text-info mb-3">3p</i>
                <h5>Trial Tracker</h5>
                <p>Tryl provides users with a clear and concise overview of all their active and past trials, making it easy to track and manage their subscriptions.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 ms-auto mt-lg-0 mt-4">
          <div>
            <div class=" p-0 position-relative mt-n4 mx-3 z-index-2">
              <a class="d-block blur-shadow-image">
                <img src="img/reminder_icon.png" alt="img-colored-shadow" class="img-fluid border-radius-lg">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
  </section>
  <!-- END Section with four info areas left & one card right with image and waves -->
  <!-- -------- START Features w/ pattern background & stats & rocket -------- -->
  <section class="pb-5 position-relative bg-gradient-dark mx-n3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-start mb-5 mt-5">
          <h3 class="text-white z-index-1 position-relative">The Team</h3>
          <p class="text-white opacity-8 mb-0">We hate wasting money. We think you do too.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-4">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="javascript:;">
                  <div class="p-3 pe-md-0">
                    <a href="https://www.linkedin.com/in/carinadaidone/"><img class="w-100 border-radius-md shadow-lg" src="https://media-exp1.licdn.com/dms/image/D4E03AQE_b1Tpw8xoXw/profile-displayphoto-shrink_400_400/0/1667786028685?e=1673481600&v=beta&t=j6qkzSJZSUsU47wk5BtuB5_R-JR4l7RrG2Wo4_SLSnY" alt="image"></a>
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Carina Daidone</h5>
                  <h6 class="text-info">Co-Founder & Technical Lead</h6>
                  <p class="mb-0">Trial I recently forgot to cancel: YouTubeTV</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-lg-4 mt-5">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="javascript:;">
                  <div class="p-3 pe-md-0">
                   <a href="https://www.linkedin.com/in/stevenmflores/"><img class="w-100 border-radius-md shadow-lg" src="https://media-exp1.licdn.com/dms/image/D4E03AQGnsUX04xo1ug/profile-displayphoto-shrink_400_400/0/1665530274796?e=1671667200&v=beta&t=eHLBbanUh2iuVF5B9Z9L-jbooqspSK5OKZyEnXsnjBk" alt="image"></a>
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Steven Flores</h5>
                  <h6 class="text-info">Co-Founder & Chief Strategist</h6>
                  <p class="mb-0">Trial I recently forgot to cancel: Instacart</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-6 col-12">
          <div class="card card-profile mt-4 z-index-2">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12 mt-n5">
                <a href="javascript:;">
                  <div class="p-3 pe-md-0">
                   <a href="https://www.linkedin.com/in/jnthngrssmn/"><img class="w-100 border-radius-md shadow-lg" src="https://media-exp1.licdn.com/dms/image/C5603AQGZTx7zNeIceA/profile-displayphoto-shrink_400_400/0/1648750298286?e=1671667200&v=beta&t=hWQcKdiydTi_1zQwATuzmTt0IpKFPxB9bDQ86zjQOq0" alt="image"></a>
                  </div>
                </a>
              </div>
              <div class="col-lg-8 col-md-6 col-12 my-auto">
                <div class="card-body ps-lg-0">
                  <h5 class="mb-0">Jonathan Grossman</h5>
                  <h6 class="text-info">Co-Founder & Product Vissionary</h6>
                  <p class="mb-0">Trial I recently forgot to cancel: Hulu</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- -------- START PRE-FOOTER 1 w/ SIGN UP CARD ------- -->
  <section class="py-lg-5" id="signup">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card box-shadow-xl overflow-hidden mb-5">
              <div class="row">
                <div class="col-lg-5 position-relative bg-cover px-0" style="background-image: url('../img/examples/blog2.jpg')" loading="lazy">
                  <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                    <div class="mask bg-gradient-dark opacity-8"></div>
                    <div class="p-5 ps-sm-8 position-relative text-start my-auto z-index-2">
                      <h3 class="text-white">Tryl</h3>
                      <p class="text-white opacity-8 mb-4">Get control of the tools you try out - sign up to start tracking and preventing unwanted subscriptions!</p>

                    </div>
                  </div>
                </div>
                <div class="col-lg-7 align-middle" align="center">
                  <div class="row col-md-6 align-middle">
                    <div class="info align-middle">
                      <a type="button" href="register" class="btn btn-primary btn-lg w-75">Create Account</a>
                    </div>
                  </div>
                  <div class="row col-md-6 align-middle">
                    <div class="info align-middle">
                      <a type="button" href="login" class="btn btn-primary btn-lg w-75">Sign In</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <!-- -------- END PRE-FOOTER 1 w/ SUBSCRIBE BUTTON AND IMAGE ------- -->
</div>
<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class=" row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <a href="https://www.creative-tim.com/product/material-kit">
            <img src="img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
          </a>
          <h6 class="font-weight-bolder mb-4">Tryl</h6>
        </div>
        <div>
          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://github.com/creativetimofficial" target="_blank">
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            All rights reserved. Copyright © <script>
              document.write(new Date().getFullYear())
            </script> Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>