<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Tryl
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="https://drive.google.com/uc?export=view&id=1nEyF-18XsOI8eEZyYK0UAui4o5we9BtQ" rel="stylesheet" />
  <link href="https://drive.google.com/uc?export=view&id=1PE4CFmSzOF-DiPCahGzQDIuLSIycaJyj" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/795d6db17e.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <!--<link id="pagestyle" href="css/material-kit.css?v=3.0.4" rel="stylesheet" />-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link id="pagestyle" href="https://drive.google.com/uc?export=view&id=1oEO_HtFqprkWcXTuWfHlW59ZtxvUfctY" rel="stylesheet" />
</head>
    <body>
        <div><%- body %></div>

     <!-- Javascript --> 
     <!-- Core JS Files -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://drive.google.com/uc?export=view&id=1aStoDPildfqD23vTNkd6_iE05U4IExn9" type="text/javascript" name="popper"></script>
      <script src="https://drive.google.com/uc?export=view&id=1JzLHAnPH1adxTjXoSIlN1QZ885v3TPeh" name="boostrapmin" type="text/javascript"></script>
      <script src="https://drive.google.com/uc?export=view&id=1CSDto1iDQI6UbtmqcO4aYpNkxqFSwf0R" name="perfect-scrollbar"></script>

      <script src="https://drive.google.com/uc?export=view&id=1tIItOzpR1KKJiaZe27UlVS1iMYagwUt9" name="material-kit"></script>
      <script src="js/material-kit-pro.min.js" type="text/javascript"></script>
      <!--  Plugin for TypedJS, full documentation here: https://github.com/inorganik/CountUp.js -->
      <script src="https://drive.google.com/uc?export=view&id=12qFgDi0YiSqVqDPViuvfolos3xb6-yfv" name="CountUp"></script>
      <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
      <script src="https://drive.google.com/uc?export=view&id=1eJE2sVDHDG6_CbB7zgdkWoMT_TzY3UJD" name="Parallax"></script>
      <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
      <script src="js/material-kit-pro.min.js" type="text/javascript"></script>
      <script src="https://drive.google.com/uc?export=view&id=1Rzb7SWIDeZ8pRxcPHTgrrlyXM38BstWb" type="text/javascript" name="material-kit-min"></script>
    </body>
</HTML>