<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white " href="/home" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom">
       <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/cdaid/Tryl2/public/img/logos/tryl_logo_white.png" alt="Tryl White Horizontal Logo">
      </a>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <li class="nav-item my-auto ms-3 ms-lg-0">
            <a href="/home" class="text-white mb-0 me-1 mt-2 mt-md-0">Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div class="page-header align-items-start min-vh-100" style="background-image: url('https://cdn.jsdelivr.net/gh/cdaid/Tryl2/public/img/backgrounds/background_signup.png');" alt="purple and blue gradient background"loading="lazy"> 
    <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
              <div class="card-body">
                <h1>Server Error</h1>
                <p>We're sorry, something went wrong</p>
                <a href="/index" class="btn">Go Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>